name: Simple CI

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Show hello.sh content
        run: cat hello.sh

      - name: Run hello.sh
        run: bash hello.sh
  
